<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Soccer Slime</title>
    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #234; display: block; margin: 0 auto; }
    </style>
</head>
<body>

<canvas id="myCanvas" width="900" height="600"></canvas>
<script src='src/game.js'></script>
<script src='src/canvas.js'></script>
<script src='src/ball.js'></script>
<script src='src/smiley.js'></script>
<script>
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");
  var ball = new Ball(ctx);
  var canvas = new Canvas(ctx);
  var smiley = new Smiley(ctx);
  var game = new Game(ball, canvas, smiley);

  setInterval(game.runGame, 1)


//   var paddleHeight = 10;
//   var paddleWidth = 75;
//   var paddleX = (canvas.width-paddleWidth)/2;
//   var paddleY = 0;
//
//
//   var rightPressed = false;
//   var leftPressed = false;
//   var upPressed = false;
//
//   document.addEventListener("keydown", keyDownHandler, false);
//   document.addEventListener("keyup", keyUpHandler, false);
//
//   function keyDownHandler(e) {
//     if(e.keyCode == 38) {
//       upPressed = true;
//     }
//     if(e.keyCode == 37) {
//       leftPressed = true;
//     }
//     if (e.keyCode == 39) {
//       rightPressed = true;
//     }
//   }
//
//   function keyUpHandler(e) {
//     if(e.keyCode == 38) {
//       upPressed = false;
//     }
//     if(e.keyCode == 37) {
//       leftPressed = false;
//     }
//     if (e.keyCode == 39) {
//       rightPressed = false;
//     }
//   }
//
//   function drawPaddle() {
//     ctx.beginPath();
//     ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
//     ctx.fillStyle = "#0095DD";
//     ctx.fill();
//     ctx.closePath();
//   }
//
//
//
// var ballRadius = 8;
//
//   function drawBall(){
//     ctx.beginPath();
//     ctx.arc(x, y, ballRadius, 0, Math.PI*2, true)
//     ctx.fillStyle = "#FFFF00";
//     ctx.fill();
//     ctx.closePath();
//   }
//
//   function jump() {
//     if (paddleY != 0) {
//       return 2
//     }
//   }
//
//   function draw() {
//     ctx.clearRect(0,0,canvas.width,canvas.height)
//     drawSmiley();
//     drawBall();
//     // drawPaddle();
//
//     if(x + dx > canvas.width - ballRadius || x + dx < 0 + ballRadius) {
//     dx = -dx;
//     }
//
//     if(y + dy > canvas.height - ballRadius || y + dy < 0 + ballRadius) {
//         dy = -dy;
//     }
//
//     if(upPressed) {
//       // if(paddleY == 0) {
//         paddleY += 2;
//       // }
//     } else if(leftPressed && paddleX > 0) {
//       paddleX -= 3.5;
//     } else if (rightPressed && paddleX < canvas.width-paddleWidth) {
//       paddleX += 3.5;
//     }
//
//     y += dy
//     x += dx
//   }
//
//
//   var x = canvas.width/2;
//   var y = canvas.height-30;
//   var dx = 2
//   var dy = -2
//   setInterval(draw,5);

</script>

</body>
</html>
